.footer {
    background-color: #011101;
    color: white;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    height: auto; 
    box-sizing: border-box;
    z-index: 1000;
}

.footer p {
    margin: 0;
}

.footer .bold-text {
    font-weight: bold;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.footer-row {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 0.5rem;
}

.footer-item {
    margin: 0.5rem 0; 
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .footer-row {
        flex-direction: row; 
        justify-content: center;
    }

    .footer-item {
        margin: 0 1rem; 
    }
}

@media (max-width: 480px) {
    .footer {
        height: auto; 
        padding: 1rem; 
    }

    .footer p {
        font-size: 0.9rem; 
    }
}
