.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #087cbe;
  padding: 0.5rem 0;
  width: 100%; 
  box-sizing: border-box; 
}

.navbar .links {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 1rem; 
  width: 100%; 
}

.navbar .links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar .links a.active {
  background-color: white;
  color: #010f01;
}

.navbar .links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; 
  }

  .navbar .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 0.5rem; 
    justify-items: center;
    width: 100%; 
  }

  .navbar .links a {
    text-align: center;
    padding: 0.5rem;
    display: block;
  }
}

@media (max-width: 480px) {
  .navbar .links {
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 0.5rem;
  }

  .navbar .links a {
    padding: 0.5rem;
  }
}
